<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue</title>
    <link href="css/top.css" rel="stylesheet">
</head>

<body>
    <div id="app"> 
        <div v-for="addr in addrs">
            {{addr}} <br>
        </div>
     
        <hr>
        <div v-for="(addr,i) in addrs">
            {{i+1}}--{{addr}} <br>
        </div>

        <div v-show="count == 3">div v-show</div>

        <div v-if="count == 3">div1</div>
        <div v-else-if="count == 4">div2</div>
        <div v-else>div3</div>
        <hr>
        <a v-bind:href="url">点击一下</a>
        <a :href="url">点击一下</a>
        <input v-model="count" >
        {{count}}
        <input type="button" value="一个按钮" v-on:click="show()">
    </div>
    

    
    <script src="js/vue.js"></script>
    <script>
        new Vue({
            el: "#app",
            data() {
                return {
                    username: "",
                    url:"https://www.baidu.com",
                    count:"",
                    addrs:["北京","上海","西安"]
                }
            },
            methods: {
                show(){
                    alert("我被点了");
                }
            }
        });
    </script>
</body>

</html>