@charset "utf-8";
/*兼容浏览器*/
* {
    margin: 0;
    padding: 0;
}

.content{
    margin:5px;
}

.content-left{
    margin:5px 0;
    width: 14%;
    height: 675px;
    background-color: #ffffff;
    float: left;
    border-right: 1px;
    display:block;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.content-right {
    width: 85%;
    height: 671px;
    background-color: #ffffff;
    float: left;
}

/*标题内容区*/
.nav-content , .nav-content1 {
    width: 100%;
    height: 48px;
    background-color: #ffffff;
    color:#6b727a;
}

/*标题的样式*/
.nav-content > a ,.nav-content1 > a{
    padding:5px 0;
    margin: 10px 0;
    display: block;
    width: 100%;
    height: 30px;
    color: #6b727a;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
}

.nav-content1 > a  {
    width:60%;
    margin: 10px 38px;
    color: #FFFFFF;
    background-color: #575799;
    border-radius: 8px;
}

/*标题鼠标经过时的改变颜色*/
.nav-content > a:hover {
    width:60%;
    margin: 10px 38px;
    color: #FFFFFF;
    background-color: #575799;
    border-radius: 8px;
    text-align: center;
    vertical-align:middle;
}
