@charset "utf-8";

@font-face {
  font-family: "阿里妈妈数黑体 Bold";
  font-weight: 700;
  src: url("/fonts/Alimama_ShuHeiTi_Bold.woff2") format("woff2"),
    url("/fonts/Alimama_ShuHeiTi_Bold.woff") format("woff");
  font-display: swap;
}

/* 以下实际使用若已初始化可删除 .nav height父级需逐级设置为100%*/
* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  background: #ffffff
}

body,
ul {
  margin: 0;
  padding: 0
}

body {
  font: 14px "微软雅黑", "宋体", "Arial Narrow", HELVETICA;
  -webkit-text-size-adjust: 100%;
}

li {
  list-style: none
}

a {
  text-decoration: none;
}

/* 以上实际使用若已初始化可删除 */
/* div.card {
  background-color: white;
  width: 82%;
  height: 95%;
  margin: 10px;
  margin-left: 15px;
  float: left;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  float: left;
  text-align: center;
} */
.content {
  width: 100%;
  height: 98.1%;
  display: flex;
}

/* 首页内容 */
.nav {
  margin: 0;
  padding: 0;
  width: 12%;
  height: 95%;
}

.main {
  margin: 0;
  padding: 0;
  width: 88%;
  height: 90%;
}

.container {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 95%;
  /* height: 100px; */
  /* background-color: gray; */
}

/* 最近影像板块 */
.recentPic {
  width: 35%;
  height: 280px;
  margin-top: 30px;
  /* margin: 30px 35px 20px 65px; */
  /* margin-left: 55px; */
  border-radius: 15px;
  box-shadow: 2px 2px 3px 2.5px rgba(0, 0, 0, 0.2);
  /* text-align: center; */
}

.recentPic .tr1 {
  margin-top: 10px;
  width: 90%;
  height: 30px;
  /* overflow: hidden; */
  position: relative;
  /* background-color: pink; */
  /* align-items: center; */
}

.recentPic .tr1 .pic1 {
  width: 30px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.tr1 .font1 {
  font-family: "阿里妈妈数黑体 Bold";
  display: inline-block;
  font-size: 20px;
  height: 20px;
  font-weight: 700;
  position: absolute;
  left: 18%;
  line-height: 30px;
}

/* .tr1 .pic2 {
  margin: 0 5px;
  padding-right: 10px;
  width: 24px;
  height: 24px;
  display: block;
  cursor: pointer;
} */

.recentPic .tr2 {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.recentPic .tr2 .img1,
.recentPic .tr2 .img2 {
  /* margin: 0px 10px 0 20px; */
  margin-top: 10px;
  width: 39%;
  height: 190px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.4);
}

.recentPic .tr2 .img1 .information,
.recentPic .tr2 .img2 .information {
  margin-top: 8px;
  width: 100%;
}

.recentPic .tr2 .img1 .information .t1,
.recentPic .tr2 .img1 .information .t2,
.recentPic .tr2 .img1 .information img {
  float: left;
}

.recentPic .tr2 .img1 .information .t1,
.recentPic .tr2 .img2 .information .t1 {
  padding-top: 3px;
  padding-left: 6px;
  font-family: "黑体";
  color: black;
  font-size: 15px;
  font-weight: 600;
}

.recentPic .tr2 .img1 .information .t2,
.recentPic .tr2 .img2 .information .t2 {
  padding: 0px;
  margin: 0px -10px 0px 5px;
  font-size: 12px;
  width: 99px;
  height: 30px;
}

.recentPic .tr2 .img1 .information .t2 .t2_1,
.recentPic .tr2 .img1 .information .t2 .t2_2 {
  /* display: inline-block; */
  height: 13px;
  /* overflow:hidden;
  clear:both; */
  padding: 0px 0px 0px 2px;
  margin: -2px -5px -2px 2px;
  font-size: 12px;
  -webkit-transform-origin-x: 0;
  /* 缩小后文字居左 */
  -webkit-transform: scale(0.80);
  /* 关键 */
  transform: scale(0.7);
}

.recentPic .tr2 .img1 .information img {
  padding-top: 3px;
  width: 10px;
  height: 15px;
}

.recentPic .tr2 .img2 .information .t1,
.recentPic .tr2 .img2 .information .t2,
.recentPic .tr2 .img2 .information img {
  float: left;
}

.recentPic .tr2 .img2 .information .t2 .t2_1,
.recentPic .tr2 .img2 .information .t2 .t2_2 {
  /* display: inline-block; */
  height: 13px;
  /* overflow:hidden;
  clear:both; */
  padding: 0px 0px 0px 2px;
  margin: -2px -5px -2px 2px;
  font-size: 12px;
  -webkit-transform-origin-x: 0;
  /*缩小后文字居左*/
  -webkit-transform: scale(0.80);
  /*关键*/
  transform: scale(0.7);
}

.recentPic .tr2 .img2 .information img {
  padding-top: 3px;
  width: 10px;
  height: 15px;
}

.recentPic .tr2 img {
  width: 100%;
  height: 150px;
}



/* 条件搜索板块 */
.search {
  width: 47%;
  height: 280px;
  margin: 30px 30px 20px 55px;
  /* margin-left: 55px; */
  border-radius: 15px;
  box-shadow: 2px 2px 3px 2.5px rgba(0, 0, 0, 0.2);
  position: relative;
  /* text-align: center; */
}

.search .tr1 {
  margin-top: 10px;
  width: 90%;
  height: 25px;
  /* overflow: hidden; */
  position: relative;
  /* background-color: pink; */
  /* align-items: center; */
}

.search .tr1 .font1 {
  position: absolute;
  left: 5%;
}

.search .tr1 .pic2 {
  position: absolute;
  right: 0%;
}

.search .tr1 .pic1 {
  position: absolute;
  left: 23%;
  top: 5px;
}

.search .tr2 {
  margin: 15px auto;
  height: 30px;
  width: 450px;
  border: solid 2px gray;
  box-shadow: -2px 2px 3px 2.5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  outline: none;
}

.search .tr2 img {
  width: 15px;
  height: 18px;
  margin: 3px 0 0 8px;
  float: left;
}

.search .tr2 input {
  padding-top: 2px;
  height: 20px;
  border-width: 0;
  margin: 1px 0 5px 10px;
  width: 410px;
  float: left;
  outline: none;
}

.search .tr3 {
  height: 25px;
  width: 500px;
  display: flex;
  margin-bottom: 10px;
}

.search .tr3 .bar {
  /* 为了使大文字居中 */
  padding-top: 2px;
  /* 为了让所有的字体保持一种相对居中的效果 */
  margin-left: 2%;
  width: 70px;
  height: 25px;
  text-align: center;
  color: #383838;
  font-size: 14px;
  font-weight: 600;
  font-family: "阿里妈妈数黑体 Bold";
}

.search .tr3 .select {
  /* line-height: 25px; */
  /* vertical-align: center; */
  width: 58px;
  text-align: center;
  color: #000000;
  line-height: 25px;
  font-size: 12px;
  font-family: "阿里妈妈数黑体 Bold";
  margin-left: 5px;
}

.search .tr3 .click {
  background-color: blue;
  color: whitesmoke;
  border-radius: 10px;
  transition-duration: 0.5s;
  box-shadow: 1px 1px 2px gray;
}

.search .tr3 .select:hover {
  color: #ffffff;
  background-color: blue;
  border-radius: 8px;
  transition-duration: 0.5s;
}

.search .tr3 .date {
  margin-left: 15px;
  padding: 1px 5px 1px 15px;
  border-radius: 10px;
  border: 1px solid gray;
  box-shadow: 1px 1px 2px gray;
}







/* 患者档案板块 */
.record {
  width: 90%;
  /* height: 310px; */
  /* 这两个margin用来让盒子的位置相对好看 */
  margin-top: 20px;
  margin-left: 5%;
  border-radius: 15px;
  box-shadow: 2px 2px 3px 2.5px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.record .tr1 {
  /* margin: 15px 20px 0px 20px; */
  width: 100%;
  height: 40px;
  /* padding: 10px; */
  position: relative;
}

.record .tr1 .pic1 {
  padding-top: 5px;
  width: 25px;
  height: 30px;
}

.record .tr1 .font1 {
  padding-top: 8px;
  position: absolute;
  left: 5%;
}

.record .tr1 .right {
  padding: 5px;
  position: absolute;
  right: 20px;
  top: 10px;
  width: 125px;
  background-color: #F0F0F0;
  border-radius: 10px;
}

.record .tr1 .right .pic2 {
  float: left;
}

.record .tr1 .right .rightText {
  float: left;
  padding: 5px 0 5px 0;
  font-family: "阿里妈妈数黑体 Bold";
}

.record .tr2 {
  margin: 15px 20px 0px 30px;
  width: 93%;
  height: 28px;
  background-color: #fafafa;
}

.record .tr2 .title {
  float: left;
  width: 135px;
  height: 30px;
}

.record .tr2 .title .font {
  float: left;
  margin: 6px 3px 5px 50px;
  width: 40px;
  text-align: center;
  color: #000000;
  font-size: 15px;
  font-family: "阿里妈妈数黑体 Bold";
  float: left;
}

.record .tr2 .title img {
  float: left;
  padding-top: 12px;
}

.record .tr2 .title1 {
  float: left;
  width: 180px;
  height: 30px;
}

.record .tr2 .title1 .font {
  float: left;
  margin: 6px 3px 5px 50px;
  width: 75px;
  text-align: center;
  color: #000000;
  font-size: 15px;
  font-family: "阿里妈妈数黑体 Bold";
  float: left;
}

.record .tr2 .title1 img {
  float: left;
  padding-top: 12px;
}

.record .tr3 {
  margin: 0px 20px 0px 30px;
  width: 93%;
  height: 210px;
}

.record .tr3 .line {
  width: 100%;
  height: 40px;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #E5E5E5;
  /* border: solid 1px gray; */
}

.record .tr3 .line .grid1 {
  margin: 10px 22px 9px 23px;
  width: 90px;
  float: left;
}

.record .tr3 .line .grid2 {
  margin: 8.5px 48px 9px 45px;
  padding: 2px 0 2px 0;
  width: 90px;
  float: left;
}

/* OCT图像上传状态 */
.record .tr3 .line .uploaded {
  background-color: #D8FACD;
  border-radius: 10px;
  color: #43CF7C;
}

.record .tr3 .line .noupload {
  background-color: #FAB9C3;
  border-radius: 10px;
  color: #FA7085;
}

/* 报告生成状态 */
.record .tr3 .line .nostart {
  background-color: #FAB9C3;
  border-radius: 10px;
  color: #FA7085;
}

.record .tr3 .line .prestart {
  background-color: #FFF6A1;
  border-radius: 10px;
  color: #FFC300;
}

.record .tr3 .line .starting {
  background-color: #A1C2FF;
  border-radius: 10px;
  color: #0077FF;
}

.record .tr3 .line .started {
  background-color: #D8FACD;
  border-radius: 10px;
  color: #43CF7C;

}

/* bootstrap弹框样式修改 */
.modal .top {
  display: flex;
  justify-content: center;
  background-color: #F0F3F7;
  padding: 15px 0;
  width: 100%;
  position: relative;
  color: #1E2023;
}

/* 右上角-关闭按钮 */
.modal .btn-close {
  font-size: 12px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 23px;
  /* 覆盖bootstrap样式 */
  margin: 0;
  padding: 0;
}

/* 表单容器 */
.form-wrap {
  box-sizing: border-box;
  background-color: white;
  padding: 40px;
}

.form-wrap .form-label {
  color: #696F77;
}

/* 修改输入框默认占位文字
    webkit内核, firefox18-, firfox19+, 其他
    */
.form-wrap input::-webkit-input-placeholder {
  color: #BFBFBF !important;
  font-size: 14px;
}


/* 底部按钮组 */
.modal-footer {
  border-top: 0;
}

.btn-group {
  text-align: center;
  width: 100%;
}

/* 修改bs的按钮弹性布局-改成自己设置大小 */
.btn-group,
.btn-group-vertical {
  display: block;
}

.btn-group button {
  width: 120px
}

.btn-group button:first-of-type {
  border: 1px solid #E3E3E3;
  background-color: #fff;
  color: black;
  margin-right: 60px;
}

.btn-group button:last-of-type {
  background-color: #539ACB;
}

.alert-success {
  border-color: transparent;
}

.toast {
  border: none;
}